<!-- Contact Button -->
<div class="contact-widget">
    <!-- Contact Options Menu -->
    <div class="contact-menu" id="contactMenu">
        <div class="contact-item">
            <a href="https://zalo.me/0123456789" target="_blank" class="contact-link-btn zalo">
                <div class="contact-icon">
                    <i class="fab fa-zalo"></i>
                    <img src="https://img.icons8.com/?size=100&id=0m71tmRjlxEe&format=png&color=000000" alt="" style="width: 30px;">
                </div>
                <span class="contact-text">Zalo</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="https://facebook.com/yourpage" target="_blank" class="contact-link-btn facebook">
                <div class="contact-icon">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <span class="contact-text">Facebook</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="tel:0123456789" class="contact-link-btn phone">
                <div class="contact-icon">
                    <i class="fas fa-phone"></i>
                </div>
                <span class="contact-text">0123 456 789</span>
            </a>
        </div>
    </div>

    <!-- Main Contact Button -->
    <button class="contact-btn" id="contactBtn">
        <i class="fas fa-comments" id="contactIcon"></i>
    </button>
</div>